{% extends "network/layout.html" %}

{% block body %}
<div id="compose-view">
  <h3>New Post</h3>
  <h5>Please be considerate to other users. If you wouldn't say it it their faces, don't say it online.</h5>
  <p id="error-message" style="display: none;">error: At least one recipients is required.</p>
  <form id="compose-form" method="POST" action="{% url 'create' %}">
    {% csrf_token %}
    {{ form }}
    <br>
    <input type="submit" id="submit-form" class="btn btn-primary" value="POST!" />
  </form>

</div>
{% endblock %}
