#body_content{
  margin-left: 5px;
}

.individual_posts{
  border-style: solid;
  border-width: 2px;
  border-color: black;
  padding: 5px;
  margin-bottom: 3px;
  margin-right: 600px;
  margin-left: 15px;
  margin-top: 15px;
}
.username_of_post:hover{
  cursor: pointer;
}


#profile_header{
  margin-top: 100px;
  text-align: center;
  align-items: center;
}


table, th, td {
  margin-left: 46%;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  padding: 2px;

}
